#about {
    margin-bottom: 20px;
}
.content-block #about .about-info__img-width,
.content-block #about .about-info__img-height {
    position: relative;
    overflow: hidden;
}

.content-block #about .about-info__img-width > img{
    width: 100%;
}

.content-block #about .about-info__img-height {
    height: 400px;
}

.content-block #about .about-info__img-height > img{
    height: 100%;
}
