.header-block {
    background-color: #0088cc;
    color: #ffffff;
    height: 300px;
    margin-bottom: 20px;
}

.navigation-block {
    background-color: #0088cc;
    color: #ffffff;
    padding: 10px;
}
.navigation-block__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.navigation-block .navigation .nav > .nav-item a.nav-link,
.navigation-block .navigation .nav > .nav-item a.nav-link:hover,
.navigation-block .navigation .nav > .nav-item a.nav-link:active {
    color: #ffffff;
}
.navigation-block .navigation .nav > .nav-item a.nav-link:hover {
    text-decoration: underline;
}

.navigation-block .auth-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 160px;
}
.navigation-block .auth-btns > .btn-wrap {
    background-color: #ffffff;
    border-radius: 0.25rem;
}

.navigation-block .auth-btns > .btn-wrap > button {
    width: 100%;
    height: 100%;
}

.footer-block {
    height: 300px;
    background-color: grey;
}

@media(max-width: 768px) {
    .navigation-block__inner {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media(max-width: 500px) {
/*  Make burger menu  */
}
